<a href="https://colab.research.google.com/github/951237/TIL/blob/master/200818_TIL_%ED%85%90%EC%84%9C%ED%94%8C%EB%A1%9C_%EB%B0%B0%EC%B6%94%EA%B0%80%EA%B2%A9_%EB%A6%AC%ED%8C%A9%ED%86%A0%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 배추가격 예상하기_리팩토링 200818

## 0. 라이브러리 호출

In [3]:
import tensorflow as tf
import pandas as pd

URL = "/content/drive/My Drive/data/ML/배추가격_데이터_예제_price data.csv"

## 1. 과거데이터 가져오기

In [4]:
배추가격 = pd.read_csv(URL)
배추가격.head()

       year  avgTemp  minTemp  maxTemp  rainFall  avgPrice
0  20100101     -4.9    -11.0      0.9       0.0      2123
1  20100102     -3.1     -5.5      5.5       0.8      2123
2  20100103     -2.9     -6.9      1.4       0.0      2123
3  20100104     -1.8     -5.1      2.2       5.9      2020
4  20100105     -5.2     -8.7     -1.8       0.7      2060

In [5]:
배추가격.columns

Index(['year', 'avgTemp', 'minTemp', 'maxTemp', 'rainFall', 'avgPrice'], dtype='object')

In [6]:
i_val = 배추가격[['avgTemp', 'minTemp', 'maxTemp', 'rainFall']]
d_val = 배추가격[['avgPrice']]

## 2. 모델 만들기

In [46]:
X = tf.keras.layers.Input(shape=[4])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss="mse", metrics="accuracy")

## 3. 모델 훈련하기(FIT)

In [53]:
model.fit(i_val, d_val, epochs=5000, verbose=0)

## 4. 모델 이용하기

In [56]:
print("예측하기 : ", model.predict(i_val[0:5]))

예측하기 :  [[2732.7017]
 [2722.679 ]
 [2166.9175]
 [2223.0056]
 [1852.6792]]

In [57]:
d_val[0:5]

   avgPrice
0      2123
1      2123
2      2123
3      2020
4      2060

### 결과 예측하기

In [ ]:
data = [20, 5, 30, 4]
avg_temp, min_temp, max_temp, rain_fall = data
print(f"평균온도 {avg_temp} / 최저온도 {min_temp} / 최고온도 {max_temp} / 강수량 {rain_fall}의 배추가격=",model.predict(np.array(data).reshape(1,4)))

평균온도 20 / 최저온도 5 / 최고온도 30 / 강수량 4의 배추가격= [[3896.393]]

### 모델 저장하기

In [ ]:
model.save('/content/drive/My Drive/data/ML/배추가격예상하기/predic_cabbage.h5')

### tensorflowjs변환
참고 : https://www.tensorflow.org/js/tutorials/conversion/import_keras

In [ ]:
!pip install tensorflowjs

In [ ]:
import tensorflowjs as tfjs

In [ ]:

tfjs.converters.save_keras_model(model, '/content/drive/My Drive/data/ML/배추가격예상하기_200507')

/usr/local/lib/python3.6/dist-packages/tensorflowjs/converters/keras_h5_conversion.py:122: H5pyDeprecationWarning: The default file mode will change to 'r' (read-only) in h5py 3.0. To suppress this warning, pass the mode you need to h5py.File(), or set the global default h5.get_config().default_file_mode, or set the environment variable H5PY_DEFAULT_READONLY=1. Available modes are: 'r', 'r+', 'w', 'w-'/'x', 'a'. See the docs for details.
  return h5py.File(h5file)

### 모델 불러오기
참고 : https://www.tensorflow.org/tutorials/keras/save_and_load

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow import keras

import tensorflow as tf
import numpy as np
import pandas as pd

model = Sequential()
model.add(Dense(1, input_dim = 4))

# 가중치와 옵티마이저를 포함하여 정확히 동일한 모델을 다시 생성합니다
new_model = keras.models.load_model('/content/drive/My Drive/data/ML/배추가격예상하기/predic_cabbage.h5')
new_model.summary()

data = [20, 5, 30, 4]
avg_temp, min_temp, max_temp, rain_fall = data
print(f"평균온도 {avg_temp} / 최저온도 {min_temp} / 최고온도 {max_temp} / 강수량 {rain_fall}의 배추가격=",model.predict(np.array(data).reshape(1,4)))

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 1)                 5
=================================================================
Total params: 5
Trainable params: 5
Non-trainable params: 0
_________________________________________________________________
평균온도 20 / 최저온도 5 / 최고온도 30 / 강수량 4의 배추가격= [[-16.917898]]