# 221116_평균구하기

## 221116_나의 풀이
- 첫번째줄 과목의 개수 N 예)4
- 두번째 줄 세준이의 성적 예) 10 20 40

In [34]:
# 과목의 개수
n = input()

# 세준이의 성적 입력
score = list(map(int, input().split(" ")))  # 입력값을 int형으로 바꿔 리스트로 저장

# 합계값 
sum = 0

for i in score:
    sum = sum + int(i)

avr = sum / int(n)
avr

4
10 20 30 40

25.0

# 221115_숫자의 합구하기

## 221116_책 풀이

In [28]:
n = input()

# 입력값을 여러개 입력하더라도 낱개로 리스트를 만듦 ['1','2','3',4]
# [input()]는 한꺼번에 묶음. ['1234']
m = list(input())
print(m)

sum = 0
for i in m:
    sum = sum + int(i)
    
sum

4
1234
['1', '2', '3', '4']

10

## 221115_나의 풀이

In [22]:
# 숫자의 합 구하기
# 숫자의 개수
n = input()

# 공백 없이 주어진 N개의 숫자
m = input()

# 입력으로 주어진 숫자 N개의 합 구하기

# 반복문을 이용하여 입력값을 숫자료 변환하여 더하기
lst_num = []
for i in range(int(n)):
    lst_num.append(int(m[i]))

print(sum(lst_num))

7
7000000
7

In [18]:
m[0]

'1'

# 221113_람다

In [6]:
# 1부터 10까지 리스트 만들기

lst_num = []

for i in range(1,11):
    lst_num.append(i)
lst_num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
lst_num = [i for i in range(1,11)]
lst_num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]