<a href="https://colab.research.google.com/github/951237/TIL/blob/master/TIL_200528_%ED%8C%90%EB%8B%A4%EC%8A%A4%EC%97%90%EC%84%9C_%ED%91%9C%EB%A7%8C%EB%93%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [2]:
col = ['a', 'b', 'c']
ind = [1, 2, 3]
con = [[0,0,0], [0,0,0], [0,0,0]]
pd.DataFrame(con, columns=col, index=ind)

   a  b  c
1  0  0  0
2  0  0  0
3  0  0  0