<a href="https://colab.research.google.com/github/951237/TIL/blob/master/TIL_from_191115.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TIL : 깃허브 입문 191115

## I. 깃허브로 취업하기
- 링크 : https://sujinlee.me/professional-github/

### 1. 매력적인 프로필 만들기
- 사진
    - 얼굴이 클로즈업 된 사진
    - 500 * 500
- 유저네임
    - 본명을 영어로
    - 숫자가 있다면 빼기
- 이멜주소 : 실명으로 만들기
- 프로젝트

### 2. 1일 1커밋
- 매일마다 새로운 것을 배우고 성장하기
- 매일 조금씩이라도 코딩하고 꾸준히 커밋하는 습관 기르기

### 3. 올바르게 커밋하기
- 커밋 단위
- 커밋 메시지 작성법

### 4. 프로젝트 소개 글 작성하기
- 자세하게 작성. 음식레시피와 같음
- 프로젝트명, 프로젝트 소개, 설치방법, 사용예제, 개발 환경 설정 방법, 기여방법, 변경로그, 라이센스 및 작성자 정보 기록

### 5. 오픈 소스 기여하기

### 6. 프로젝트 관리하기

## II. 일일커밋 후기

### 어떻게 시작해야 하나?
- 의미 없는 코드일지라도 일단 시작하기
- 의미 없는 일로 의미 있는 일을 만들기
- 매일 매일 무엇을 커밋할지 생각하기
- Done is better than Perfect
- 따라하기
    - 따라할게 너무 많음.
- 무엇을 커밋해야 될지 모른다면
    - 마크다운부터 시작하기
- 그날 공부했던것을 커밋하기
    - 자기가 편한 방식으로 커밋하기
- 스택오버플로 링크와 함께 복붙하지 않고 직접 타이핑
    - 남의 코드를 따라하더라도 복붙하지 않고 직접타이핑을 해야 내것이 됨.
- TIL 폴더 만들기
- 캐글로 데이터 사이언스 공부
- 캐글의 튜토리얼 따라하기
- 자연어 처리 : bag of word meets bags of popcom
- 튜토리얼 변형하기 / 번역하기 / 나만의 튜토리얼 만들기
- 책에서 본 코드 따라하기
- 간단한 튜토리얼 번역
- 스프린트 참여
- 정적 블로그 운영
    - TIL로 정리했던 내용이나 블로그로 쓸만한 내용들
    - 깃헙에 튜토리얼이 있음.

## III. 리퍼지토리 작성 실습

### 리퍼지토리 생성하기
- TIL 생성하기
    - public

# 판다스

## TIL 191203 : apply 함수 이용하기
- 발명반 원서 정렬시 기호를 글자로 바꾸기

## TIL 191204 : 학년에 맞게 학급으로 변환



```
def make_classIndex(row):
    if str(row)[0] == '3':
        k = '초급'
    elif str(row)[0] == '4':
        k = '중급'
    else:
        k = '심화'
    return k
```



```
df_result['지원반'] = df_result['소속반(2019)'].apply(make_classIndex)
df_result.head()
```

## TIL 191211 나머지가 생기지 않게하는 수 찾기



```
print( 11 % 4) # 나머지 구하기

def div_zero(k, r):
    for i in range(1, r, 1):
        if int(k % i) == 0:
            print(i)
        else:
            continue
            
div_zero(340, 15)
```

## 191215 칼럼 값을 리스트와 비교해서 일치하는 행만 데이터프레임에 저장



```
df_hyuk = df[ df['소속'].isin(list_hyuk) 
```

## 191215 함수 - Apply 함수 끝에서 2개의 값만 반환



```
def extract_day(row):
    return row[-2:]
df_hyuk['절상'] = df_hyuk['현임교_발령일자'].apply(extract_day)
```

## 191215 Apply 함수 - 값이 범위안에 있는 경우 텍스트를 반환
- 텍스트를 숫자로 변환해서 비교



```
    def compare_day(row):
        if int(row) > 2 and int(row) < 15:
            return '절상'

    df_hyuk['절상'] = df_hyuk['절상'].apply(compare_day)
```

## 191215 칼럼값이 일치하는 행들을 데이터 프레임으로 저장



```
df_hyuk_up = df_hyuk[ df_hyuk['절상'] == '절상' ]
```

## 191215 데이터 프레임 엑셀저장
- 여러개의 데이터프레임을 시트이름을 정해서 저장하기



```
def writer_excel(file_path):
    writer = pd.ExcelWriter(file_path)
    df_hyuk_up_gen.to_excel(writer, sheet_name='혁신학교 절상명단_일반', index=False)
    df_hyuk_up_gap.to_excel(writer, sheet_name='혁신학교 절상명단_갑만기', index=False)
    writer.save()
```

## TIL - 191217

### 191217 여러개의 칼럼을 더해서 코드 만들기



```
df_all_real_cho['코드_동명이인'] = df_all_real_cho['지역'] + df_all_real_cho['소속'] + df_all_real_cho['이름']
```

### 동명이인 찾기



```
df_all_real_cho[ df_all_real_cho['코드_동명이인'].duplicated() ]
```

### 원하는 값 필터링 하기



```
df_all_real_cho[ df_all_real_cho['이름'] == '김동현' ]
```

## TIL - 191219

### 데이터 전처리 - 엑셀파일 가져오기



```
use_cols = (2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26)
df_med = pd.read_excel(filepath, 
                header = None,  #헤더를 가져오지 않음.
                usecols = use_cols # 사용할 칼럼들을 선택
                 ).iloc[9:,:] #가져올 행을 선택
```

### 데이터 전처리 - 인덱스 1부터 넘버링



```
df_med = df_med.reset_index(drop = True) # 인덱스 리셋
df_med.index = df_med.index + 1 #인덱스에 1을 더하여 1부터 시작
```

## TIL - 191220

### 발령데이터 프로젝트 계획
- 카테고리 : 년도
    - 인원변동
    - 유형변동
    - 성별변동
- 카테고리 : 지역
    - 발령인원 현황
    - 지원현황
    - 지원대비 발령 %

## TIL - 191221 판다스 데이터 전처리 함수 연습

### 컬럼 이름 바꾸기



```
df.columns = [ 'a', 'b', 'c']
```

### 빈값 찾기



```
pd.isnull()
```

### 빈값 아닌 것 찾기



```
pd.notnull()
```

### null 값을 포함한 행 삭제



```
df.dropna()

```

### null 값을 포함한 칼럼 삭제



```
df.dropna(axis = 1)
```

### n값보다 작은 값은 모두 삭제



```
df.dropna(axis = 1, thresh = n)
```

### q빈값을 x로 채우기



```
df.fillna(x)
```

### 빈값을 평균으로 채우기


```
s.fillna(s.means())
```

### 시리즈 타입을 실수형으로 바꾸기



```
s.astype(float)
```

### 시리즈의 1의 값을 'one'로 바꾸기



```
s.replace(1, 'one')
```

### 다수의 값을 바꾸는 방법



```
s.replace([1,3], ['one', 'three'])
```

### 다수의 칼럼 이름 바꾸기



```
df.rename(columns = lamda x: x+ 1)
```

### 칼럼 이름 바꾸기



```
df.rename( columns = {'old_name' : 'new_name'})
```

### 칼럼을 인덱스로 지정하기



```
df.set_index('colums one')
```

### 람다식을 이용하여 인덱스에 1씩 증가



```
df.rename(index = lamda x: x+1)
```

## TIL - 191223 - 필터링 / 소팅

### 0.5 보다 큰 값들만 찾기



```
df[ df[col] > 0.5 ]
```

### 0.5 보다 크고 0.7보다 작은 값 필터링



```
df [ ( df[col] > 0.5 ) & ( df[col] < 0.7 ) ]
```

### col1 칼럼 소팅하기



```
df.sort_values(col1)
```

### col2 내림차순으로 정렬



```
df.sort_values(col2, ascending = False)
```

### col1은 오름차순 정렬, col2 칼럼은 내림차순으로 정렬



```
df.sort_values([col1, col2], ascending = [True, False])
```

## TIL - 191224 Groupby의 활용
소스 : https://ponyozzang.tistory.com/291

In [0]:
import seaborn as sns
import pandas as pd

In [0]:
df_titanic = sns.load_dataset('titanic')

In [20]:
df_titanic.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [22]:
df_titanic.groupby('sex').mean()

        survived    pclass        age  ...       fare  adult_male     alone
sex                                    ...
female  0.742038  2.159236  27.915709  ...  44.479818    0.000000  0.401274
male    0.188908  2.389948  30.726645  ...  25.523893    0.930676  0.712305

[2 rows x 8 columns]

In [23]:
df_titanic.groupby('survived').mean()

            pclass        age     sibsp  ...       fare  adult_male     alone
survived                                 ...
0         2.531876  30.626179  0.553734  ...  22.117887    0.817851  0.681239
1         1.950292  28.343690  0.473684  ...  48.395408    0.257310  0.476608

[2 rows x 7 columns]