<a href="https://colab.research.google.com/github/951237/TIL/blob/master/%EC%A7%80%EB%8F%84%EC%8B%9C%EA%B0%81%ED%99%94_%EA%B2%BD%EA%B8%B0%EB%8F%84_%EC%B4%88%EB%93%B1%ED%95%99%EA%B5%90_%ED%98%84%ED%99%A9_201222.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 경기도 초등학교 지도로 시각화 하기
- 통계지도 체험 : https://sgis.kostat.go.kr/statexp/view/index#
- 사이트에 데이터 입력

In [39]:
#라이브러리 호출
import pandas as pd
import warnings
from openpyxl import load_workbook

In [4]:
warnings.filterwarnings(action='ignore')

In [32]:
# 파일 불러오기
PATH_SRC = '/content/drive/MyDrive/data/크롤링_경기도 유초중고등학교 전체/경기_학교 전체목록_도교육청 제공_200121.xlsx'
PATH_MAP_KYUNGGI = '/content/drive/MyDrive/data/지도시각화_통계청/form_kyungi_map.xlsx'

In [6]:
# 데이터프레임 생성
df = pd.read_excel(PATH_SRC)

In [ ]:
# 데이터 프레임 반복문으로 생성
# 학교급별 딕셔너리
lst_school_type = {'유치원' : 'df_kindergarden',
                   '초등학교' : 'df_elementary',
                   '중학교' : 'df_middle',
                   '고등학교' : 'df_high',
                   '특수학교' : 'df_special'}

# 반복문으로 데이터프레임 딕셔너리 만들기
lst_df_school_type = {}
for k, v in lst_school_type.items():
    v = df.loc[df['학교급별'] == k]
    lst_df_school_type[k] = v

In [29]:
# 지역별 학교급별 현황 딕셔너리 만들기
# 반복문위한 딕셔너리 만들기
dic_count_region = {'유치원' : 'region_kindergarden',
                   '초등학교' : 'region_elementary',
                   '중학교' : 'region_middle',
                   '고등학교' : 'region_high',
                   '특수학교' : 'region_special'}

# 지역현황 정리해서 딕셔너리 만들기
dic_dic_count_region = {}
for k, v in dic_count_region.items():
    v = pd.DataFrame(lst_df_school_type[k]['지역'].value_counts()).to_dict()
    dic_dic_count_region[k] = v

In [49]:
# 지도사이트에 올릴 엑셀파일 생성하기
dic_df = {
    '지역현황_유치원' : dic_dic_count_region['유치원']['지역'],
    '지역현황_초등학교' : dic_dic_count_region['초등학교']['지역'],
    '지역현황_중학교' : dic_dic_count_region['중학교']['지역'],
    '지역현황_고등학교' : dic_dic_count_region['고등학교']['지역'],
    '지역현황_특수학교' : dic_dic_count_region['특수학교']['지역']
}

In [48]:
# 딕셔너리 소스 엑셀파일에 저장하기
def write_excel(p_dic, p_file_name):
    for k, v in p_dic.items():    # 지역 딕셔너리 반복
        for x in range(5, ws.max_row+1):    # 
            region = ws.cell(x,2)   # 변수에 지역이름 셀값 지정
            val = ws.cell(x,3)      # 변수에 인원 셀값 지정
            if region.value[:2] == k[:2]:   # 앞글자 2개가 일치할 경우
                val.value = v       # 셀입력
    wb.save(f"{p_file_name}.xlsx")

In [50]:
# 타입별 1희망 지역 데이터 추출
for k, v in dic_df.items():
    # 엑셀파일에 데이터 입력하기
    wb = load_workbook(PATH_MAP_KYUNGGI)    # 엑셀파일 불러오기
    ws = wb.active      # 시트 선택하기
    write_excel(v, k)

In [8]:
# 데이터 프레임 정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4712 entries, 0 to 4711
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      4712 non-null   object
 1   학교급별    4709 non-null   object
 2   설립      4712 non-null   object
 3   학교명     4712 non-null   object
 4   우편번호    4710 non-null   object
 5   주소      4712 non-null   object
 6   전화번호    4712 non-null   object
 7   팩스      4709 non-null   object
 8   홈페이지    4443 non-null   object
dtypes: object(9)
memory usage: 331.4+ KB

In [10]:
df['학교급별'].unique()

array(['유치원', '초등학교', '중학교', '고등학교', '특수학교', '각종학교', nan, '고등공민학교'],
      dtype=object)

In [24]:
df['지역'].unique()

array(['가평', '고양', '과천', '광명', '광주', '구리', '군포', '김포', '남양주', '동두천', '부천',
       '성남', '수원', '시흥', '안산', '안성', '안양', '양주', '양평', '여주', '연천', '오산',
       '용인', '의왕', '의정부', '이천', '파주', '평택', '포천', '하남', '화성'],
      dtype=object)

In [15]:
# 빈값 필터링
df.loc[df['학교급별'].isnull()]

      지역 학교급별  설립  ...          전화번호            팩스                     홈페이지
1728  성남  NaN  사립  ...   02-443-2072   02-443-2075  http://www.hdschool.org
3509  용인  NaN  사립  ...  031-249-0628  031-246-9999                      NaN
3510  용인  NaN  사립  ...  031-217-1401  031-217-1402         http://ya.or.kr/

[3 rows x 9 columns]