# Streamlit 시각화
- 안산관내 학교 현황 시각화

In [15]:
import pandas as pd
import lxml

In [36]:
URL  = 'https://www.goeas.kr/USR/ORG/MNU13/SchoolList.do?orgType=Z'
df = pd.read_html(URL, header=1)[0]
df[:5]   # '계' 열 삭제

     구분   계 국립  공립  사립    학생수   교원수
0   유치원  85  -  43  42   6778   549
1  초등학교  55  -  55   -  32223  1823
2   중학교  30  -  29   1  17882  1252
3  고등학교  24  -  15   9  19407  1759
4  특수학교   2  1   -   1    285   101